{#<div class="widget-container profile-buttons">#}
    {#<div class="row">#}
        {#<div class="span6 col-xs-6">#}
            {#{{ user().buttons().tip() }}#}
        {#</div>#}
        {#<div class="span6 col-xs-6">#}
            {#{{ user().buttons().message() }}#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="span6 col-xs-6">#}
            {#{{ user().buttons().offer() }}#}
        {#</div>#}
        {#<div class="span6 col-xs-6">#}
            {#{{ user().buttons().call() }}#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="span6 col-xs-12">#}
            {#{{ user().buttons().appointment() }}#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="span6 col-xs-12">#}
            {#{{ user().buttons().special() }}#}
        {#</div>#}
    {#</div>#}
{#</div>#}
