<article class="timeline-entry {{ serviceLocator().get('ViewRenderer').cycle().setName('align').next() }}">

    <div class="timeline-entry-inner">
        <time class="timeline-time" datetime=""><span>{{ result.getDate().format('Y-M-d') }}</span></time>

        <div class="timeline-icon">
            <img class="inherit-width" src="{{ result.getSender().getAvatar() }}" />
            <i class="entypo-feather"></i>
        </div>

        <div class="timeline-label">
            <h2>
                <a href="#">{{ result.getSender().getDisplayName() }}</a>
                {{ result.getType() }}
            </h2>
            <p>{{ result.getAmount() }} Chips</p>
        </div>
    </div>

</article>