<div class="row">
    {% for video in rows %}
        {% set slug = slugify(video.getTitle())~'-'~video.getId() %}
        {% set url = url('videos/video', {(constant('Application\\Mapper\\Injector::VIDEO')) : video.getId(), 'slug' : slug}) %}
        <div class="col-sm-6">
            <div class="post-2 padding-10">
                <a href="{{ url }}">
                    <h1 class="padding-10 no-background blog-title">{{ video.getTitle() }}</h1>
                </a>
                {{ video.getPostedOn().format('h:i a l, F Y') }}
                <br>
                <div>
                    <a class="catname col-sm-6" href="{{ url('blog/filters', {category: video.getCategory(), categoryId: video.getId()}) }}">
                        {{ video.getCategory() }}
                    </a>
                </div>
                <div class="text-right col-sm-6">
                    {% include 'tags' with {'tags' : video.getTags(), 'route': 'blog/filters'} %}
                </div>
                <div class="post_picture_big">
                    <a href="{{ url }}">
                        <img alt="" class="img-responsive" src="{{ video.getCover() }}">
                    </a>
                    <div class="blog-post-stats">
                        {{ video.getInteraction().getLikes() }} Likes · {{ video.getInteraction().getDislikes() }} Dislike
                    </div>
                </div>
                <p class="post-text text-justify">
                    {{ video.getDescription()|striptags|slice(0, 100) }} ...
                </p>
                <p class="text-right read-more">
                    <a href="{{ url }}">View video...</a>
                </p>
            </div>
        </div>
    {% endfor %}
</div>